#root > div { 
  font-family: Futura, Trebuchet MS, Arial, sans-serif;
  
}

body, html {
  height: 100%;
  margin: 0;
  background-image: url("./assets/shapelined-_JBKdviweXI-unsplash.jpg");
  height: 100%;
}

header[role="banner"] {
  #logo-main {
    display: block;
    margin: 20px auto;
  }
}

#navbar-primary.navbar-default {
  background: transparent;
  border: none;
  
.navbar-nav { 
    display: inline-block;
   
    margin-left: 50%;
    margin-right: 50%;
    width: 100%;
    text-align: center;
    > li {
      float: left;
      > a {
        padding-left: 30px;
        padding-right: 30px;
        }
    }
  }
}

